* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.c14866 {
    display: none;
}

.c17180 {
    color: rgb(166, 167, 170);
    font-size: 15px;
    text-align: right;
    background-color: rgb(255, 255, 255);
}

.c17954 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c18164 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c18191 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19816 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19834 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19852 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19870 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19888 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19906 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19924 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19942 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19960 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19978 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c19996 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20014 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20032 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20050 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20068 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20086 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20104 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20122 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20140 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20158 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20176 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20578 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20596 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20614 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20632 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20650 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20668 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20686 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c20704 {
    color: rgb(166, 167, 170);
    font-size: 15px;
}

.c21522 {
    color: rgb(81, 87, 105);
    font-size: 22px;
    font-weight: 700;
}

.c21615 {
    color: rgb(81, 87, 105);
    font-size: 22px;
    font-weight: 700;
}